lib/Xsd/Server/ServerStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Xsd/Server/ServerStatus.xsd
version 201601110622 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
elementFormDefault="qualified">
    <xs:include schemaLocation="../common.xsd" />
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="xs:string" name="onlinePlayers" />
            <xs:element type="xs:string" name="serverOpen" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>